* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 2560px) {
  html {
    font-size: 17px !important;
  }
}
@media (max-width: 1920px) {
  html {
    font-size: 12px !important;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 10px !important;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 8.5px !important;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6.5px !important;
  }
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background: center/cover no-repeat rgba(0, 0, 0, 0.4) url("../img/mainBackground.jpg");
  background-blend-mode: darken;
}
.header .header__top-side {
  background-color: #fff;
}
.header .contact {
  height: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}
.header .contact__telephone {
  font-size: 1.6rem;
  font-weight: 400;
}
.header .nav-container {
  height: 6.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-size: 3rem;
  font-weight: 700;
}
.header .logo_text-decor_none {
  color: #000;
  text-decoration: none;
}
.header .list {
  font-size: 1.4rem;
  list-style: none;
}
.header .list__item {
  display: inline;
}
.header .list__item:not(:last-child), .header .list__item:not(:first-child) {
  margin-inline: 15px;
}
.header .list__items_t-decor_none {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.header .header__bottom-side {
  height: 82rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .header__title {
  color: #fff;
  font-size: 5.6rem;
  font-weight: 300;
}
.header .header__text {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  width: 65rem;
  text-align: center;
}
.header .header__katalog-btn {
  width: 16.5rem;
  height: 6rem;
  border-radius: 10px;
  background: #fff;
}

.main .advantages__top-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .advantages__arrow-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.main .title {
  font-size: 3.4rem;
  font-weight: 300;
}
.main .advantages-list {
  text-align: center;
}
.main .advantages__advantages-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.main .advantages-list__item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.main .advantages-list__img {
  width: 12rem;
}
.main .advantages-list__text {
  font-size: 2rem;
  font-weight: 300;
}
.main .about__text {
  font-size: 2rem;
  font-weight: 300;
}
.main .subscribe {
  height: 9.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .subscribe__about {
  font-size: 1.8rem;
  font-weight: 600;
  width: 30rem;
}
.main .subscribe__form {
  width: 80rem;
  display: flex;
  justify-content: flex-end;
}
.main .subscribe__input {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.main .subscribe__input::-moz-placeholder {
  color: #fff;
}
.main .subscribe__input::placeholder {
  color: #fff;
}
.main .subscribe__button {
  background-color: #fff;
  width: 19.4rem;
  height: 4.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0;
}

.input {
  width: 20rem;
  height: 4.5rem;
  border: 2px solid black;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.input:focus {
  outline-width: 0;
  border: 3px solid #fff;
  box-shadow: 0 0 5px #fff;
}

.button {
  width: 20rem;
  height: 4rem;
  border: none;
  border-radius: 10px;
  background: #ffa019;
  cursor: pointer;
  text-transform: uppercase;
}

.button_text-style_white {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}

.button_text-style_black {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}

.themes_orange {
  color: #fff;
  background-color: #ffa019;
}

.p-inline_10 {
  padding-inline: 10rem;
}

.m-t_8 {
  margin-top: 8rem;
}

.m-b_5 {
  margin-bottom: 5rem;
}

.m-b_3 {
  margin-bottom: 3rem;
}

.m-block_8 {
  margin-block: 8rem;
}

.m-l_3 {
  margin-left: 3rem;
}