@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 2560px) {
  html {
    font-size: 17px !important;
  }
}
@media (max-width: 1920px) {
  html {
    font-size: 12px !important;
  }
}
@media (max-width: 1440px) {
  html {
    font-size: 10px !important;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 8.5px !important;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 6.5px !important;
  }
}
.input {
  width: 20rem;
  height: 4.5rem;
  border: 2px solid black;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.input:focus {
  outline-width: 0;
  border: 3px solid #fff;
  box-shadow: 0 0 5px #fff;
}

.button {
  width: 20rem;
  height: 4rem;
  border: none;
  border-radius: 10px;
  background: #ffa019;
  cursor: pointer;
  text-transform: uppercase;
}

.button_text-style_white {
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}

.button_text-style_black {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
}

.themes_orange {
  color: #fff;
  background-color: #ffa019;
}

.link-style_none {
  text-decoration: none;
  color: #000;
}

.before_minus::before {
  content: "-";
}

.before_plus::before {
  content: "+";
}

.d_flex {
  display: flex;
}

.p-inline_10 {
  padding-inline: 10rem;
}

.p-inline_9 {
  padding-inline: 9rem;
}

.p-inline_8 {
  padding-inline: 8rem;
}

.p-inline_7 {
  padding-inline: 7rem;
}

.p-inline_6 {
  padding-inline: 6rem;
}

.p-inline_5 {
  padding-inline: 5rem;
}

.p-inline_4 {
  padding-inline: 4rem;
}

.p-inline_3 {
  padding-inline: 3rem;
}

.p-inline_2 {
  padding-inline: 2rem;
}

.p-block_6 {
  padding-block: 6rem;
}

.m-t_30 {
  margin-top: 30rem;
}

.m-t_8 {
  margin-top: 8rem;
}

.m-t_6 {
  margin-top: 6rem;
}

.m-t_5 {
  margin-top: 5rem;
}

.m-t_3 {
  margin-top: 3rem;
}

.m-t_2 {
  margin-top: 2rem;
}

.m-b_9 {
  margin-bottom: 9rem;
}

.m-b_7 {
  margin-bottom: 7rem;
}

.m-b_6 {
  margin-bottom: 5rem;
}

.m-b_5 {
  margin-bottom: 5rem;
}

.m-b_3 {
  margin-bottom: 3rem;
}

.m-b_2 {
  margin-bottom: 2rem;
}

.m-l_10 {
  margin-left: 10rem;
}

.m-l_4 {
  margin-left: 4rem;
}

.m-l_3 {
  margin-left: 3rem;
}

.m-r_10 {
  margin-right: 10rem;
}

.m-r_4 {
  margin-right: 4rem;
}

.m-r_3 {
  margin-right: 3rem;
}

.m-block_8 {
  margin-block: 8rem;
}

.selected {
  border-radius: 11px;
  background: #FFA019 !important;
  color: #FFF;
  width: 5rem;
  height: 2rem;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background: center/cover no-repeat rgba(0, 0, 0, 0.4) url("../img/mainBackground.jpg");
  background-blend-mode: darken;
}

.header__top-side {
  background-color: #fff;
}

.contact {
  height: 6.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.contact__telephone {
  font-size: 1.6rem;
  font-weight: 400;
}

.nav-container {
  height: 6.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}

.logo_text-decor_none {
  color: #000;
  text-decoration: none;
}

.list {
  font-size: 1.4rem;
  list-style: none;
}

.list__item {
  display: inline;
}
.list__item:not(:last-child), .list__item:not(:first-child) {
  margin-inline: 15px;
}

.list__items_t-decor_none {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.header__bottom-side {
  height: 82rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__title {
  color: #fff;
  font-size: 5.6rem;
  font-weight: 300;
}

.header__text {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  width: 65rem;
  text-align: center;
}

.header__katalog-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.5rem;
  height: 6rem;
  border-radius: 10px;
  background-color: #fff;
}

.advantages__top-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages__arrow-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.title {
  font-size: 3.4rem;
  font-weight: 300;
}

.advantages-list {
  text-align: center;
}

.advantages__advantages-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.advantages-list__item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list__img {
  width: 12rem;
}

.advantages-list__text {
  font-size: 2rem;
  font-weight: 300;
}

.about__text {
  font-size: 2rem;
  font-weight: 300;
}

.subscribe {
  height: 9.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe__about {
  font-size: 1.8rem;
  font-weight: 600;
  width: 30rem;
}

.subscribe__form {
  width: 80rem;
  display: flex;
  justify-content: flex-end;
}

.subscribe__input {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
.subscribe__input::-moz-placeholder {
  color: #fff;
}
.subscribe__input::placeholder {
  color: #fff;
}

.subscribe__button {
  background-color: #fff;
  width: 19.4rem;
  height: 4.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0;
}

.list-features {
  list-style: none;
}

.list-features__item::before {
  padding-right: 0.5rem;
}

.features_text-style {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
}

.catalog-container {
  background-color: #FBFBFB;
}

.catalog__top-side {
  justify-content: space-between;
}

.filter {
  align-items: center;
}

.filter-list {
  list-style: none;
}

.filter-list__item {
  padding-inline: 2rem;
}

.filter__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card-list {
  list-style: none;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  width: 24rem;
  height: 33.6rem;
  padding: 1rem;
  position: relative;
}

.card__type {
  border-radius: 0px 15px 15px 0px;
  background: #FFA019;
  color: #FFF;
  position: absolute;
  min-width: 6rem;
  padding: 0.5rem;
  padding-right: 1rem;
  left: 0;
  top: 1.5rem;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

.card__img {
  width: 20rem;
}

.card__title {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  width: 70%;
}

.card__price {
  font-size: 2rem;
  font-weight: 700;
}
.card__price::after {
  content: "р.";
  margin-left: 0.5rem;
}

.catalog_text-style {
  font-size: 1.6rem;
  font-weight: 300;
}

.list-team {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.teammate-card {
  display: flex;
  background-color: #FBFBFB;
}

.teammate-img {
  width: 16rem;
  height: 15rem;
  background-size: cover;
}

.teammate-1 {
  background-image: url("../img/Team/Иван Алексеев менеджер по продажам.jpg");
}

.teammate-2 {
  background-image: url("../img/Team/Галина Петрова менеджер по продажам.jpg");
}

.teammate-3 {
  background-image: url("../img/Team/Светлана Астахова менеджер по продажам.jpg");
}

.teammate-card__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem 3rem;
}

.teammate-card__name {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.teammate-card__position {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 2rem;
}

.teammate-card__btn {
  width: 8rem;
  height: 3rem;
  color: #FFF;
  text-transform: capitalize;
}

.brands {
  display: flex;
  align-items: center;
  padding-block: 4rem;
  background: #FBFBFB;
}

.brands-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.brands-list__item {
  color: #9B9B9B;
  font-size: 4rem;
  font-weight: 700;
}

.useful-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.useful-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  width: 25rem;
  height: 25rem;
}

.useful-1 {
  background-image: url("../img/Useful/Useful1.jpg");
}

.useful-2 {
  background-image: url("../img/Useful/Useful2.jpg");
}

.useful-3 {
  background-image: url("../img/Useful/Useful3.jpg");
}

.useful-4 {
  background-image: url("../img/Useful/Useful4.jpg");
}

.useful-card__about {
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #FBFBFB;
  padding-block: 5rem 7rem;
  color: #8191A6;
  font-size: 1.4rem;
  font-weight: 400;
}

.footer__about {
  width: 38rem;
}

.footer-nav {
  display: flex;
}

.footer-nav-content {
  margin-inline: 2.5rem;
}

.footer-nav__title {
  color: #303842;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.nav-list {
  list-style: none;
}

.footer-link {
  color: #8191A6;
}