@import "reset";

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	scroll-behavior: smooth;
}

.header {
	background: center / cover no-repeat rgba(0, 0, 0, .4) url("../img/mainBackground.jpg");
	background-blend-mode: darken;

	.header__top-side {
		background-color: #fff;
	}

	.contact {
		height: 62px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	}

	.contact_p-inline_400 {
		padding-inline: 10em;
	}

	.contact__telephone {
		font-size: 16px;
		font-weight: 400;
	}

	.button {
		width: 200px;
		height: 40px;
		border: none;
		border-radius: 10px;
		background: #ffa019;
		cursor: pointer;
	}
	.button_text-style_white {
		color: #ffff;
		font-size: 13px;
		font-weight: 700;
	}

	.nav-container {
		height: 62px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-container_p-inline_400 {
		padding-inline: 10em;
	}

	.logo {
		font-size: 30px;
		font-weight: 700;
	}

	.logo_text-decor_none {
		color: #000;
		text-decoration: none;
	}

	.header__nav {
	}
	.list {
		list-style: none;
	}
	.list__item {
		display: inline;

		&:not(:last-child),
		&:not(:first-child) {
			margin-inline: 15px;
		}
	}

	.list__items_t-decor_none {
		text-transform: uppercase;
		text-decoration: none;
		color: #000;
	}

	.header__bottom-side {
		height: 820px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.header__title {
		color: #fff;
		font-size: 56px;
		font-weight: 300;
	}

	.header__title_m-b_30 {
		margin-bottom: 30px;
	}

	.header__text {
		color: #fff;
		font-size: 20px;
		font-weight: 300;
		width: 650px;
		text-align: center;
	}

	.header__text_m-b_45 {
		margin-bottom: 45px;
	}

	.header__katalog-btn {
		width: 165px;
		height: 60px;
		border-radius: 10px;
		background: #fff;
	}

	.button_text-style_black {
		color: #000;
		font-size: 20px;
		font-weight: 700;
	}
}
